<ion-header [hidden]="scanActive">
  <ion-toolbar mode="ios">
    <ion-buttons slot="start">
      <ion-menu-button menu ="main-menu"></ion-menu-button>
    </ion-buttons>
    <ion-title>
      <div class="ion-text-wrap">
        Attendance Scanner
      </div>
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [style.--background]="scanActive ? '#00000000' : '#fff'">
  <p class="ion-text-start" [hidden]="scanActive">
    Here you can use your phone's camera to scan a GreenTCNJ QR code provided by an event organizer to let them know you attended. Make sure you give the app permissions to use your camera!
  </p>
  <ion-button expand="full" (click)="scanBarcode()" [hidden]="scanActive">
    <ion-icon name="scan" slot="start"></ion-icon>
     Start Scan
  </ion-button>

  <ion-row class = "scanner-buttons" [hidden]="!scanActive">
    <ion-col class="ion-no-padding">
      <ion-button expand="full" (click)="destroy()">
        Stop
      </ion-button>
    </ion-col>
  </ion-row>
</ion-content>

<div class="scan-box" [hidden]="!scanActive">
</div>