<ion-header>
  <ion-toolbar mode="ios">
    <ion-buttons slot="start">
      <ion-menu-button menu ="main-menu"></ion-menu-button>
    </ion-buttons>
    <ion-title>
      <div class="ion-text-wrap">
        Campus Resources
      </div>
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
    
  <ion-item>
    <h1><strong>About Green TCNJ</strong></h1>
  </ion-item>

  <!-- about message (not dynamic) -->
    <ion-item >
      <p>Green TCNJ is an app focused on displaying and storing useful information in regards to a greener campus.  
        You can search which materials can be discarded or recycled on campus, register for upcoming environmental events, and view the latest recycling and environmental news for TCNJ.</p>
    </ion-item>

    <!-- lists the resources from the array we created in the typescript file from the php script -->
    <!-- ng for allows us to loop through each item in the array -->
    <ion-list>
      <ion-item *ngFor="let resource of campusResources">        
        <a href= {{resource.link}} > {{ resource.name }} </a>
      </ion-item>
    </ion-list>

    <!-- mailto is a way to link to email to contact Amanda Radosti, currently hardcoded -->
  <p> 
    Want to reach out to The Office of Occupational Safety and Environmental Services? Contact Amanda Radosti at:  
    <a href="mailto:radosti@tcnj.edu?subject=GreenTCNJ App Help">radosti@tcnj.edu</a>
  </p>
  
</ion-content>
