<ion-header>
  <ion-toolbar mode="ios">
    <ion-buttons slot="start">
      <ion-menu-button menu="main-menu"></ion-menu-button>
    </ion-buttons>
    <ion-title>
      <div class="ion-text-wrap">About Us</div>
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-item>
    <h1><strong>About Green TCNJ</strong></h1>
  </ion-item>

  <!-- about message (not dynamic) -->
  <ion-item>
    <p>
      Green TCNJ is an app focused on displaying and storing useful information
      in regards to a greener campus. You can search which materials can be
      discarded or recycled on campus, register for upcoming environmental
      events, and view the latest recycling and environmental news for TCNJ.
    </p>
  </ion-item>
  
  <ion-list>
    <ion-item>
      <h4>Contributors of the project: </h4>
    </ion-item>
    <ion-item>
      <ion-label>Dr. Deborah Knox (TCNJ)</ion-label>
    </ion-item>
    <ion-item>
      <ion-label>Matthew Mabrey (TCNJ)</ion-label>
    </ion-item>
    <ion-item>
      <ion-label>Heavenly Medina (TCNJ)</ion-label>
    </ion-item>
    <ion-item>
      <ion-label>Anushka Krishnakumar (TCNJ)</ion-label>
    </ion-item>
    <ion-item>
      <ion-label>Jabili Gadde (TCNJ)</ion-label>
    </ion-item>
    <ion-item>
      <ion-label>Dean Peppe (TCNJ)</ion-label>
    </ion-item>
    <ion-item>
      <ion-label>Maxwell Luz (TCNJ)</ion-label>
    </ion-item>
    <ion-item>
      <ion-label>Elijah Gasataya (TCNJ)</ion-label>
    </ion-item>
    <ion-item>
      <ion-label>Parvathi Krishnan (TCNJ)</ion-label>
    </ion-item>
  </ion-list>
</ion-content>
